@page "/report"
@using Agent_and_BDS_Portal.Data
@using Microsoft.EntityFrameworkCore;
@inject ProductionReport_Services Cgl_Services;
@inject SubmittedReport_Services SubmittedReport_Services ;



<h3><strong><center><i>Report</i></center></strong></h3>

<div class="container mt-5">
    <div class="row">
        <!-- PRODUCTION -->
        <div class="col-xs-4 col-lg-3">
            <div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body text-center">

                    <a href="/summaryreport" class="text-white"><h1>@PRODUCTION</h1></a>
                    <p>Production</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="text-white">More info</a>
                </div>
            </div>
        </div>

        <!-- CLAIMS PAID -->
        <div class="col-xs-4 col-lg-3">
            <div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body text-center">

                    <h1>@CLAIMSPAID</h1>
                    <p>Claims Paid</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="text-white">More info</a>
                </div>
            </div>
        </div>

        <!-- LOSS RATIO -->
        <div class="col-xs-4 col-lg-3">
            <div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body text-center">

                    <h1>@LOSSRATIO</h1>
                    <p>Loss Ratio</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="text-white">More info</a>
                </div>
            </div>
        </div>

        <!-- NET INCOME -->
        <div class="col-xs-4 col-lg-3">
            <div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body text-center">

                    <a href="/submitted" class="text-white"><h1>@NETINCOME</h1></a>
                    <p>Net Income</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="text-white">More info</a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <h3><i><b><center>Production</center></b></i></h3>

                <div class="container mt-4">
                    <div class="row">
                        <!-- SUBMITTED -->
                        <div class="col-xs-4 col-lg-3">
                            <div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                <div class="card-body text-center">
                                    <a href="/submitted" class="text-white">
                                        <h1>@SUBMITTED</h1>
                                    </a>
                                    <p>Submitted</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="text-white">More info</a>
                                </div>
                            </div>
                        </div>

                        <!-- RECEIPTED -->
                        <div class="col-xs-4 col-lg-3">
                            <div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                <div class="card-body text-center">
                                    <a href="/receipted" class="text-white">
                                        <h1>@RECEIPTED</h1>
                                    </a>
                                    <p>Receipted</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="text-white">More info</a>
                                </div>
                            </div>
                        </div>

                        <!-- COMPLIANCE -->
                        <div class="col-xs-4 col-lg-3">
                            <div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                <div class="card-body text-center">
                                    <a href="/compliance" class="text-white">
                                        <h1>@COMPLIANCE</h1>
                                    </a>
                                    <p>Compliance</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="text-white">More info</a>
                                </div>
                            </div>
                        </div>

                        <!-- APPROVED -->
                        <div class="col-xs-4 col-lg-3">
                            <div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                <div class="card-body text-center">

                                    <a href="/approved" class="text-white">
                                        <h1>@APPROVED</h1>
                                    </a>
                                    <p>Approved</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="text-white">More info</a>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                <h3><strong><i><center>Commision</center></i></strong></h3>

                <div class="container mt-5">
                    <div class="row">
                        <!-- Client (Bank) -->
                        <div class="col-xs-4 col-lg-3">
                            <div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                <div class="card-body text-center">

                                    <a href="/summaryreport" class="text-white"><h1>@Client</h1></a>
                                    <p>Client</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="text-white">More info</a>
                                </div>
                            </div>
                        </div>

                        <!-- BDS (Agent) -->
                        <div class="col-xs-4 col-lg-3">
                            <div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                <div class="card-body text-center">

                                    <h1>@BDS</h1>
                                    <p>BDS</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="text-white">More info</a>
                                </div>
                            </div>
                        </div>
            </div>
        </div>

            </div>
        </div>
    </div>
</div>

@code {
    private int PRODUCTION = 0;
    private int CLAIMSPAID = 0; 
    private int LOSSRATIO = 0; 
    private int NETINCOME = 44; 

   
    private int SUBMITTED = 0;
    private int RECEIPTED = 53;
    private int COMPLIANCE = 44;
    private int APPROVED = 65;

    private int Client= 44;
    private int BDS = 65;



    //protected override async Task OnInitializedAsync()
   // {
        // Call service to get the production count
       // PRODUCTION = await Cgl_Services.GetProductionMonitoringRowCountAsync();
        //CLAIMSPAID = await Cgl_Services.GetProductionMonitoringRowCountAsync();
        //LOSSRATIO = await Cgl_Services.GetProductionMonitoringRowCountAsync();
        //SUBMITTED = await SubmittedReport_Services.GetSubmittedReportsRowCountAsync();

    }
}

