@page "/navMenu"
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

<div div class="top-row ps-3 bg-#e51933 navbar-dark">
	<div class="container-fluid d-flex justify-content-center align-items-center">
		<a class="navbar-brand text-center">
			<h4 class="mb-0">Marketing</h4>
		</a>
		<button title="Navigation menu" class="navbar-toggler position-absolute end-0 me-3" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>


<!-- NAV MENU CONTAINER -->
<div class="@NavMenuCssClass">
	<nav class="flex-column"></nav>

	<!-- DASHBOARD -->
	<div class="nav-item px-3">
		<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
			<span class="fa fa-home fa-lg" style="margin-right:20px"></span><b>Dashboard</b>
		</NavLink>
	</div>
</div>
<!-- Production Dropdown with Submenu -->
<div class="nav-item px-3">
	<a class="nav-link d-flex justify-content-between" href="production" @onclick="ToggleProductionDropdown">
		<div>
			<span class="fa fa-industry" aria-hidden="true" style="margin-right:20px"></span><b>Production</b>
		</div>
		<i class="fa-solid @(showProductionDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
	</a>
	<!--Pending-->
	<div class="nested-menu ps-3 @ProductionDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="" @onclick="TogglePendingDropdown">
			<div>
				<span class="fa fa-paper-plane" aria-hidden="true" style="margin-right:20px"></span><b>Pending</b>
			</div>
			<i class="fa-solid @(showPendingDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>
		<div class="nested-menu ps-3 @PendingDropdownClass">
			<NavLink class="nav-link" href="LongTerm/banklist">
				<span class="fas fa-chart-line text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @PendingDropdownClass">
			<NavLink class="nav-link" href="/ShortTerm/Sbanklist">
				<span class="fas fa-file-invoice-dollar text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
	</div>

	<!--REceipted-->
	<div class="nested-menu ps-3 @ProductionDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="" @onclick="ToggleReceiptedDropdown">
			<div>
				<span class="fa fa-stamp fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Receipted</b>
			</div>
			<i class="fa-solid @(showReceiptedDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>
		<div class="nested-menu ps-3 @ReceiptedDropdownClass">
			<NavLink class="nav-link" href="/LongTerm/Lreceipted">
				<span class="fas fa-chart-area text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @ReceiptedDropdownClass">
			<NavLink class="nav-link" href="/ShortTerm/Sreceipted">
				<span class="fas fa-receipt text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
	</div>
	<!-- Approved -->
	<div class="nested-menu ps-3 @ProductionDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="" @onclick="ToggleApprovedDropdown">
			<div>
				<span class="fa fa-thumbs-up fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Approved</b>
			</div>
			<i class="fa-solid @(showApprovedDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>
		<div class="nested-menu ps-3 @ApprovedDropdownClass">
			<NavLink class="nav-link" href="/LongTerm/Lapproved">
				<span class="fas fa-chart-area text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @ApprovedDropdownClass">
			<NavLink class="nav-link" href="/ShortTerm/Sapproved">
				<span class="fas fa-receipt text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
	</div>

<!-- Declined -->
	<div class="nested-menu ps-3 @ProductionDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="" @onclick="ToggleDeclinedDropdown">
			<div>
				<span class="fa fa-times-circle fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Declined</b>
			</div>
			<i class="fa-solid @(showDeclinedDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>
		<div class="nested-menu ps-3 @DeclinedDropdownClass">
			<NavLink class="nav-link" href="/LongTerm/Lapproved">
				<span class="fas fa-chart-area text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @DeclinedDropdownClass">
			<NavLink class="nav-link" href="/ShortTerm/Sapproved">
				<span class="fas fa-receipt text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
	</div>

<!-- REnewal -->
<div class="nested-menu ps-3 @ProductionDropdownClass">
	<a class="nav-link d-flex justify-content-between" href="" @onclick="ToggleRenewalDropdown">
		<div>
				<span class="bi bi-clock-history bi-lg" aria-hidden="true" style="margin-right:20px"></span><b>Renewal</b>
		</div>
		<i class="fa-solid @(showRenewalDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
	</a>
	<div class="nested-menu ps-3 @RenewalDropdownClass">
		<NavLink class="nav-link" href="/LongTerm/Lapproved">
				<span class="fas fa-sync-alt text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
		</NavLink>
	</div>
	<div class="nested-menu ps-3 @RenewalDropdownClass">
		<NavLink class="nav-link" href="/ShortTerm/Sapproved">
				<span class="fa fa-sync-alt text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
		</NavLink>
	</div>
</div>

	<!-- Compliance -->
	<div class="nested-menu ps-3 @ProductionDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="#" @onclick="ToggleComplianceDropdown">
			<div>
				<span class="fas fa-shield-alt fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Compliance</b>
			</div>
			<i class="fa-solid @(showComplianceDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>

		<div class="nested-menu ps-3 @ComplianceDropdownClass">
			<NavLink class="nav-link" href="/LongTerm/Lcompliance">
				<span class="fas fa-check-circle text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @ComplianceDropdownClass">
			<NavLink class="nav-link" href="/ShortTerm/Scompliance">
				<span class="fas fa-check-circle text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
	</div>
	

	<!-- Terminated -->
	<div class="nested-menu ps-3 @ProductionDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="#" @onclick="ToggleTerminatedDropdown">
			<div>
				<span class="fas fa-ban fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Terminated</b>
			</div>
			<i class="fa-solid @(showTerminatedDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>

		<div class="nested-menu ps-3 @TerminatedDropdownClass">
			<NavLink class="nav-link" href="/LongTerm/Lcompliance">
				<span class="fas fa-check-circle text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @TerminatedDropdownClass">
			<NavLink class="nav-link" href="/ShortTerm/Scompliance">
				<span class="fas fa-clipboard-check text-success fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
	</div>
	</div>


<!--Claims-->
<div class="nav-item px-3">
	<NavLink class="nav-link" href="claims">
		<span class="fas fa-file-alt fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Claims</b>
	</NavLink>
</div>
<div class="nav-item px-3">
	<NavLink class="nav-link" href="visitation">
		<span class="fas fa-user-check fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Visitation</b>
	</NavLink>
</div>
<div class="nav-item px-3">
	<NavLink class="nav-link" href="target">
		<span class="fas fa-bullseye fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Targets</b>
	</NavLink>
</div>

<!-- PROSPECTS -->
<div class="nav-item px-3">
	<NavLink class="nav-link" href="prospects">
		<span class="fas fa-users fa-lg" style="margin-right:20px"></span><b>Prospects</b>
	</NavLink>
</div>

<!-- Report -->
<div class="nav-item px-3">
	<a class="nav-link d-flex justify-content-between" href="#" @onclick="ToggleReportDropdown">
		<div>
			<span class="fa fa-file-invoice fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Report</b>
		</div>
		<i class="fa-solid @(showReportDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
	</a>

	<!-- Production Report -->
	<div class="nested-menu ps-3 @ReportDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="#" @onclick="ToggleProductionReportDropdown">
			<div>
				<span class="fas fa-industry fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Production</b>
			</div>
			<i class="fa-solid @(showProductionReportDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>
		<div class="nested-menu ps-3 @ProductionReportDropdownClass">
			<NavLink class="nav-link" href="LongTerm/banklist">
				<span class="fas fa-hand-paper fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @ProductionReportDropdownClass">
			<NavLink class="nav-link" href="/ShortTerm/Sbanklist">
				<span class="fas fa-file-invoice-dollar" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
	</div>

	<!-- Claims Paid -->
	<div class="nested-menu ps-3 @ReportDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="#" @onclick="ToggleClaimsPaidDropdown">
			<div>
				<span class="fas fa-money-bill-wave fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Claims Paid</b>
			</div>
			<i class="fa-solid @(showClaimsPaidDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>
		<div class="nested-menu ps-3 @ClaimsPaidDropdownClass">
			<NavLink class="nav-link" href="/LongTerm/Lcompliance">
				<span class="fas fa-file-alt" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @ClaimsPaidDropdownClass">
			<NavLink class="nav-link" href="/ShortTerm/Scompliance">
				<span class="fas fa-stopwatch fa-spin fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
	</div>

	<!-- Loss Ratio -->
	<div class="nested-menu ps-3 @ReportDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="#" @onclick="ToggleLossRatioDropdown">
			<div>
				<span class="fas fa-percentage fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Loss Ratio</b>
			</div>
			<i class="fa-solid @(showLossRatioDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>
		<div class="nested-menu ps-3 @LossRatioDropdownClass">
			<NavLink class="nav-link" href="/LongTerm/Lcompliance">
				<span class="fas fa-calendar-alt" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @LossRatioDropdownClass">
			<NavLink class="nav-link" href="/ShortTerm/Scompliance">
				<span class="fas fa-piggy-bank fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
	</div>

	<!-- Net Income -->
	<div class="nested-menu ps-3 @ReportDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="#" @onclick="ToggleNetIncomeDropdown">
			<div>
				<span class="fas fa-chart-pie fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Net Income</b>
			</div>
			<i class="fa-solid @(showNetIncomeDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>
		<div class="nested-menu ps-3 @NetIncomeDropdownClass">
			<NavLink class="nav-link" href="/LongTerm/Lcompliance">
				<span class="fas fa-landmark fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @NetIncomeDropdownClass">
			<NavLink class="nav-link" href="/ShortTerm/Scompliance">
				<span class="fas fa-check-circle fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
	</div>
</div>


<!-- COMMISSION -->
<div class="nav-item px-3">
	<a class="nav-link d-flex justify-content-between" href="#" @onclick="ToggleCommissionDropdown">
		<div>
			<span class="fas fa-coins fa-lg" style="margin-right:20px"></span><b>Commission</b>
		</div>
		<i class="fa-solid @(showCommissionDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
	</a>
	<div class="nested-menu ps-3 @CommissionDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="/LongTerm/Lcommission" @onclick="ToggleForpaymentDropdown">
			<div>
				<span class="fas fa-hourglass-half fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>For Payment</b>
			</div>
			<i class="fa-solid @(showForpaymentDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
		</a>
		<div class="nested-menu ps-3 @ForpaymentDropdownClass">
			<NavLink class="nav-link" href="/LongTerm/Lcommission">
				<span class="fas fa-sync-alt fa-lg" style="margin-right:20px"></span><b>Long Term</b>
			</NavLink>
			<NavLink class="nav-link" href="/ShortTerm/Scommission">
				<span class="fas fa-bolt fa-lg" style="margin-right:20px"></span><b>Short Term</b>
			</NavLink>
		</div>
		<div class="nested-menu ps-3 @CommissionDropdownClass">
			<a class="nav-link d-flex justify-content-between" href="#" @onclick="TogglePaidDropdown">
				<div>
					<span class="fas fa-hand-holding-usd fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Paid</b>
				</div>
				<i class="fa-solid @(showPaidDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
			</a>
			<div class="nested-menu ps-3 @PaidDropdownClass">
				<NavLink class="nav-link" href="/LongTerm/Lcommission">
					<span class="fas fa-briefcase fa-lg" style="margin-right:20px"></span><b>Long Term</b>
				</NavLink>
				<NavLink class="nav-link" href="/ShortTerm/Scommission">
					<span class="fas fa-handshake fa-lg" style="margin-right:20px"></span><b>Short Term</b>
				</NavLink>
			</div>
		</div>
	</div>
</div>
<!-- USERS -->

<div class="nav-item px-3">
	<a class="nav-link d-flex justify-content-between" href="accountlist" @onclick="ToggleUserDropdown">
		<div>
			<span class="fas fa-users fa-lg" style="margin-right:20px"></span><b>User</b>
		</div>
		<i class="fa-solid @(showUserDropdown ? "fa-chevron-down" : "fa-chevron-right")"></i>
	</a>
	<div class="nested-menu ps-3 @UserDropdownClass">
		<a class="nav-link d-flex justify-content-between" href="/addnewuser" @onclick="ToggleAddUserDropdown">
			<div>
				<span class="fas fa-plus fa-lg" aria-hidden="true" style="margin-right:20px"></span><b>Add User</b>
			</div>
			</a>
	</div>
</div>
			<!-- LOGOUT -->
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="main">
					<span class="fas fa-sign-out-alt fa-lg" style="margin-right:20px"></span><b>Logout</b>
				</NavLink>
			</div>


			@code {
				private bool collapseNavMenu = true;
				private bool showProductionDropdown = false;
				private bool showPendingDropdown = false;
				private bool showReceiptedDropdown = false;
				private bool showApprovedDropdown = false;
				private bool showComplianceDropdown = false;
				private bool showReportDropdown = false;
				private bool showCommissionDropdown = false;

				private bool showRenewalDropdown = false;
				private bool showDeclinedDropdown = false;
				private bool showTerminatedDropdown = false;
				<!--Commission-->
				private bool showForpaymentDropdown = false;
				private bool showPaidDropdown = false;

				<!--Report-->

				private bool showProductionReportDropdown = false;
				private bool showClaimsPaidDropdown = false;
				private bool showLossRatioDropdown = false;
				private bool showNetIncomeDropdown = false;

				<!--User-->
				private bool showUserDropdown = false;
				private bool showAddUserDropdown = false;


				private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
				private string ProductionDropdownClass => showProductionDropdown ? "show" : "d-none";
				private string ReportDropdownClass => showReportDropdown ? "show" : "d-none";
				private string PendingDropdownClass => showPendingDropdown ? "show" : "d-none";
				private string ReceiptedDropdownClass => showReceiptedDropdown ? "show" : "d-none";
				private string ApprovedDropdownClass => showApprovedDropdown ? "show" : "d-none";
				private string ComplianceDropdownClass => showComplianceDropdown ? "show" : "d-none";
				private string CommissionDropdownClass => showCommissionDropdown ? "show" : "d-none";

				private string DeclinedDropdownClass => showDeclinedDropdown ? "show" : "d-none";
				private string RenewalDropdownClass => showRenewalDropdown ? "show" : "d-none";
				private string TerminatedDropdownClass => showTerminatedDropdown ? "show" : "d-none";


				<!--Report-->
				private string ProductionReportDropdownClass => showProductionReportDropdown ? "show" : "d-none";
				private string ClaimsPaidDropdownClass => showClaimsPaidDropdown ? "show" : "d-none";
				private string LossRatioDropdownClass => showLossRatioDropdown ? "show" : "d-none";
				private string NetIncomeDropdownClass => showNetIncomeDropdown ? "show" : "d-none";

				<!--Commission-->
				private string ForpaymentDropdownClass => showForpaymentDropdown? "show" : "d-none";
				private string PaidDropdownClass => showPaidDropdown ? "show" : "d-none";

				<!--User-->
				private string UserDropdownClass => showUserDropdown ? "show" : "d-none";

				private void ToggleNavMenu()
				{
					collapseNavMenu = !collapseNavMenu;
				}

				private void ToggleProductionDropdown()
				{
					showTerminatedDropdown = false;
					showDeclinedDropdown =false;
					showRenewalDropdown = false;
					showReportDropdown = false;
					showPendingDropdown = false;
					showReceiptedDropdown = false;
					showApprovedDropdown = false;
					showComplianceDropdown = false;
					showCommissionDropdown = false;
					showProductionDropdown = !showProductionDropdown;
				}

				private void TogglePendingDropdown()
				{
					showTerminatedDropdown = false;
					showDeclinedDropdown =false;
					showRenewalDropdown = false;
					showReportDropdown = false;
					showReceiptedDropdown = false;
					showApprovedDropdown = false;
					showComplianceDropdown = false;
					showCommissionDropdown = false;
					showPendingDropdown = !showPendingDropdown;
				}

				private void ToggleReportDropdown()
				{
					showTerminatedDropdown = false;
					showDeclinedDropdown =false;
					showRenewalDropdown = false;
					showClaimsPaidDropdown = false;
					showLossRatioDropdown = false;
					showNetIncomeDropdown = false;
					showProductionReportDropdown = false;
					showReportDropdown = !showReportDropdown;
				}
				private void ToggleReceiptedDropdown()
				{
					showTerminatedDropdown = false;
					showDeclinedDropdown =false;
					showRenewalDropdown = false;
					showReportDropdown = false;
					showApprovedDropdown = false;
					showPendingDropdown = false;
					showComplianceDropdown = false;
					showCommissionDropdown = false;
					showReceiptedDropdown = !showReceiptedDropdown;
				}
				private void ToggleComplianceDropdown()
				{
					showTerminatedDropdown = false;
					showDeclinedDropdown =false;
					showRenewalDropdown = false;
					showReceiptedDropdown = false;
					showReportDropdown = false;
					showApprovedDropdown = false;
					showPendingDropdown = false;
					showCommissionDropdown = false;
					showComplianceDropdown = !showComplianceDropdown;
				}
				private void ToggleApprovedDropdown()
				{
					showTerminatedDropdown = false;
					showDeclinedDropdown =false;
					showRenewalDropdown = false;
					showReceiptedDropdown = false;
					showReportDropdown = false;
					showPendingDropdown = false;
					showComplianceDropdown = false;
					showCommissionDropdown = false;
					showApprovedDropdown = !showApprovedDropdown;
				}
				private void ToggleDeclinedDropdown()
				{
					showTerminatedDropdown = false;
					showRenewalDropdown = false;
					showReportDropdown = false;
					showReceiptedDropdown = false;
					showApprovedDropdown = false;
					showComplianceDropdown = false;
					showCommissionDropdown = false;
					showDeclinedDropdown = !showDeclinedDropdown;
				}

				private void ToggleRenewalDropdown()
				{
					showTerminatedDropdown = false;
					showDeclinedDropdown =false;
					showReportDropdown = false;
					showReceiptedDropdown = false;
					showApprovedDropdown = false;
					showComplianceDropdown = false;
					showCommissionDropdown = false;
					showRenewalDropdown = !showRenewalDropdown;
				}
				private void ToggleProductionReportDropdown()
				{
					
					showClaimsPaidDropdown = false;
					showLossRatioDropdown = false;
					showNetIncomeDropdown = false;
					showProductionReportDropdown = !showProductionReportDropdown;
				}
				private void ToggleClaimsPaidDropdown()
				{
	
					showProductionReportDropdown = false;
					showLossRatioDropdown = false;
					showNetIncomeDropdown = false;
					showClaimsPaidDropdown = !showClaimsPaidDropdown;

				} 
				private void ToggleLossRatioDropdown()
				{

					showProductionReportDropdown = false;
					showClaimsPaidDropdown = false;
					showNetIncomeDropdown = false;
					showLossRatioDropdown = !showLossRatioDropdown;
				}

				private void ToggleNetIncomeDropdown()
				{
					showProductionReportDropdown = false;
					showClaimsPaidDropdown = false;
					showLossRatioDropdown = false;
					showNetIncomeDropdown = !showNetIncomeDropdown;
				}
				private void ToggleCommissionDropdown()
				{
					showPaidDropdown = false;
					showForpaymentDropdown = false;
					showCommissionDropdown = !showCommissionDropdown;
				}
				private void ToggleForpaymentDropdown()
				{
					showPaidDropdown = false;
					showForpaymentDropdown = !showForpaymentDropdown;
				}
				private void TogglePaidDropdown()
				{
					showForpaymentDropdown = false;
					showPaidDropdown = !showPaidDropdown;
				}
				private void ToggleUserDropdown(){

					showAddUserDropdown = false;
					showUserDropdown = !showUserDropdown;
				}
				private void ToggleAddUserDropdown(){

					
					showAddUserDropdown = !showAddUserDropdown;
				}
				private void ToggleTerminatedDropdown(){

					showDeclinedDropdown =false;
					showRenewalDropdown = false;
					showReportDropdown = false;
					showPendingDropdown = false;
					showReceiptedDropdown = false;
					showApprovedDropdown = false;
					showComplianceDropdown = false;
					showCommissionDropdown = false;
					showTerminatedDropdown = !showTerminatedDropdown;
				}

}
